<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="order">Order</option>
          <option value="bpm">BPM</option>
          <option value="key">Key</option>
          <option value="title">Title</option>
          <option value="artist">Artist</option>
          <option value="album">Album</option>
          <option value="genre">Genre</option>
        </select>
      </p>
    </div>
    <div class="col-sm-9">
      <table class="table table-bordered table-hover table-condensed" id="selectable">
        <thead>
          <tr>
            <th>order</th>
            <th>bpm</th>
            <th>key</th>
            <th>song</th>
            <th>artist</th>
            <th>album</th>
            <th>genre</th>
          </tr>
        </thead>
        <tbody id="searchResults">
          <tr ng-repeat="song in $ctrl.songs | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <td></td>
            <td>{{song.bpm}}</td>
            <td>{{song.key}}</td>
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <td>{{song.album}}</td>
            <td>{{song.genre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
